.p-daily25
	&__question
		font-size: 1.5rem
		color: #111
		margin-top: 60px
	&__num
		font-size: 6rem
		color: #4e4e4e
		margin-top: 105px
		text-align: center
		font-weight: bold
		line-height: 1
	&__answer
		display: flex
		font-size: 1.4rem
		color: #4e4e4e
		margin-top: 80px
		&__impossible
			flex 1
		&__possible
			flex 1
			text-align: right