.p-daily02
	&__container
		padding-top: 55px
	&__body
		font-family: calibri, sans-serif
		font-weight: 700
		font-style: italic
		font-size: 7.2rem
		color: #333
		width: 950px
		margin: 0 auto
		text-align: right
		line-height: 1
		margin-top: 20px