.p-header
	&__body
		color: #fff
		font-size: 2.4rem
		width: 100%
		display: flex
		justify-content: center
		align-items: center
		font-family: calibri, sans-serif
		font-weight: 700
		font-style: italic
		line-height: 1