-
	var domain = './'
	var description = 'Daily UI 08'
	var keywords = ''
	var title = 'Daily UI 08'
	var date = +new Date()

doctype html
html(lang='ja')
	head
		include include/meta
		include include/title
		include include/css
	body
		main
			h1.c-heading Daily UI 08
			section
				h2.day8__heading
					span.day8__heading__inner よくあるご質問
				.day8__container
					- for(var i =0; i < 15; i++)
						dl.day8__box
							dt.day8__ttl(data-trigger-accordion)
								p.day8__ttl__body よくある質問はよくありますか？
								span.day8__ttl__icon
									span.day8__ttl__icon__line1
									span.day8__ttl__icon__line2
							dd.day8__data(data-target-accordion) 実際に、よくある質問はよくされます。ただ、よくされないときはよくある質問とはいいません。

		include include/js