-
	var domain = './'
	var imgSrc = './img/'
	var description = 'foo'
	var keywords = 'foo'
	var title = 'foo'
	var date = +new Date()

doctype html
html(lang='ja')
	head
		include include/meta
		include include/ogp
		include include/title
		include include/css
	body
		.p-daily02__container
			h1.c-heading Daily UI
			.p-carousel(data-target-carousel)
				div.p-carousel__item
					img.p-carousel__body(src="/img/img_dog01.png")
				div.p-carousel__item
					img.p-carousel__body(src="/img/img_dog02.png")
				div.p-carousel__item
					img.p-carousel__body(src="/img/img_dog03.png")
		include include/js