-
	var domain = './'
	var imgSrc = './img/'
	var description = ''
	var keywords = ''
	var title = ''
	var date = +new Date()

doctype html
html(lang='ja')
	head
		include include/meta
		include include/title
		include include/css
	body
		p hello,world.
			
		include include/js