////// Foundation
// Reset
@import '../../node_modules/ress/dist/ress.min.css'
@import 'https://use.typekit.net/cvv4sgl.css'
@import "../../node_modules/slick-carousel/slick/slick.css"

// Base
@import 'foundation/base.styl'
@import 'foundation/variable.styl'
@import 'foundation/mixin.styl'

////// Layout

////// Object
//Component
@import 'object/component/heading.styl'

//Project
@import 'object/project/daily02.styl'
@import 'object/project/carousel.styl'

//Utility
